body {
background-image: url(bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.box {
    width: 450px;
    background: transparent;
    padding: 30px;
    transform: translate(150%, 90%);
    box-shadow: -5px 25px 55px rgba(0, 0, 0, 0.5);
    border-bottom: 50px;
}

.inputbox input {
    height: 20px;
    background: transparent;
    font-size: 20px;
    font-weight: bold;
}

.inputbox select {
    height: 25px;
    width: 100px;
    background: transparent;
}

.submit input {
    width: 50%;
    border-radius: 25px;
    height: 40px;
    border: none;
    transition: 0.3s;
    background-color: black;
    color: white;
}

.submit input:hover {
    background-color: #141eda;
    transform: translateY(-5px);
}

p {
    font-size: 30px;
}